{% extends 'base.html.twig' %}
        {% block title %}Bienvenue{% endblock %}
        {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block body %}<h1>Bienvenue sur {{ website }} !</h1>{% endblock %}
        {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
        {% endblock %}