{% extends 'base.html.twig' %}
        {% block title %}Bienvenue {% endblock %}
        {% block body %}<h1>Bienvenue sur {{ website }} !</h1>
                {# templates/index.html.twig #}
                <a href="{{ path('wild_show', { 'slug': "american-horror-story" }) }}">
                Testing show() method from WildController with a real program s slug.
                </a>
                <br>
                <a href="{{ path('wild_index') }}">
                Testing index() method from WildController to view all programs.
                </a>
        {% endblock %}

